body {
  background-color: blanchedalmond;
}

#wrapper {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.buttons {
  display: inline-block;
  margin: 10px;
  padding: 15px;
  border: 2px solid black;
  border-radius: 4px;
}
.buttons button {
  min-width: 50px;
  min-height: 50px;
  font-size: 15px;
  outline: none;
}

/* The buttons change classes, changing color */
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}